:root {
--primary-bg-color: ;
--space: 10px;
}

body {
    background-image: url(../img/brown-texture.jpg);
    background-repeat: repeat;
    background-size: 200px;
    
    margin: 0;
}

.wrapper {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    
}

#home-wrapper {
    grid-template-rows: 1fr 1fr 2fr;
}

#info-wrapper {

}

#leaderboard-wrapper {

}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 3px solid black
}

header {
    height: 1fr;
}

h1 {
    margin: 0;
}

main { 
    height: 80vh;
    /* background-color: gray; */
    display: grid;
    gap: var(--space);
    padding: var(--space);
}

#info-main {
    display: flex;
    flex-direction: column;
    background-color: blue;
}

article {
    display: flex;
    gap: var(--space);
    align-content: space-between;
}

.menu {
    /* background-color: blue; */
    background-image: url(../img/brown-texture.jpg);
    background-repeat: repeat;
    background-size: 200px;
    border-left: solid black 3px;
    height: 100vh;
    width: 57vw;
    position: fixed;
    right: -60vw;
    transition: right 0.3s;
    z-index: 10;
}

.menu-button {
    background-color: chocolate;
    cursor: pointer;
    display: flex;
    justify-self: flex-end;
    width: max-content;
}

.menu-link {
    text-decoration: none;
    color: black;
}

.menu-link:hover {
    color:coral;
}

.show {
    right: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.image {
    /*margin-left: 10px;*/
    width: 45%;
    background-color: aqua;
    height: 1fr;
    /* height: 10px;
    width: 100px; */
    /* grid-area: im; */
}

#more-info-picture {
    align-self: center;
    width: 90vw;
    height: auto;
}

#info-container { 
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.slider-container {
    width: 10%;
    background-color: aquamarine;
/*     grid-area: rb;
 */    display: flex;
    justify-content: center;
}

#info-slider-container {
    width: auto;
    order: 3;
    align-self: flex-end;
    justify-content: right;
}

.slider {
    height: 20%;
    width: 1fr;
    top: 40%;
    position: relative;
    appearance: none;
    transform: rotate(270deg);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../img/ic--twotone-shield.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 0;
}

#horisontal-slider {
    transform: rotate(0deg);
}

.description {
    width: 45%;
    background-color: blueviolet;
    /* grid-area: de; */
}

#info-desc {
    /* diffrent width */
}

footer {
    background-color: brown;
}

/* MOBILE */

@media screen and (max-width: 500px) {


}

/* DESKTOP */

